<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <img src="../assets/lawflexlogo.png" class="logo_Width mx-auto" alt="">
        </div>
        <div class="col-10 mx-auto mt-5 pt-5">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-12 mt-4">
                            <table class="table custom_table table-hovr table-border">
                                <thead>
                                    <tr class="header_bgColor">
                                        <th scope="col"
                                            class="text-capitalize position-relative text-white right-border">Client
                                            Name
                                        </th>
                                        <th scope="col"
                                            class="text-capitalize position-relative text-white right-border">
                                            Description</th>
                                        <th scope="col"
                                            class="text-capitalize position-relative text-white right-border">
                                            Proposal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vertical_align" *ngIf="clientInfo">
                                        <td class="py-2">{{clientInfo?.Client_Name}}</td>
                                        <td class="py-2">{{clientInfo?.Description}}</td>
                                        <td class="py-2">{{clientInfo?.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="loader_div row" *ngIf="loader1">
                                <div class="spinner-border mx-auto text-success" role="status">
                                </div>
                            </div>
                            <div class="col-12 d-flex align-items-center justify-content-center">
                                <h4 class="text-danger">{{errorMsg}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto mt-5 ">
            <div class="row">

                <div class="col me-5">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <h3 class="m-0 fw-bold">Proposed Talents</h3>
                            <div class="btn_div">
                                <button class="border-0 btn_Work disable_btn">Send</button>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <table class="table custom_table table-hovr table-borderless">
                                <thead>
                                    <tr class="header_bgColor">
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Button</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            <div
                                                class="image_div d-flex align-items-center justify-content-center overflow-hidden">
                                            </div>
                                        </th>
                                        <th scope="col" class="text-capitalize position-relative right-border">Name
                                        </th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Show in proposal</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Status</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Team Memo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vertical_align"
                                        *ngFor="let PropasalTalentArrData of PropasalTalentArrInfo;let i=index">
                                        <td><button class="border-0 btn_Work remove_btn">Remove</button></td>
                                        <td>
                                            <div
                                                class="image_div d-flex align-items-center justify-content-center overflow-hidden">
                                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                                    alt="">
                                            </div>
                                        </td>
                                        <td [innerHTML]="PropasalTalentArrData?.Name?PropasalTalentArrData?.Name:'--'">
                                        </td>
                                        <td
                                            [innerHTML]="PropasalTalentArrData?.Show_in_proposal?PropasalTalentArrData?.Show_in_proposal:'--'">
                                        </td>
                                        <td
                                            [innerHTML]="PropasalTalentArrData?.Status?PropasalTalentArrData?.Status:'--'">
                                        </td>
                                        <td
                                            [innerHTML]="PropasalTalentArrData?.Team_Memo?PropasalTalentArrData?.Team_Memo:'--'">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="loader_div row" *ngIf="loader3">
                                <div class="spinner-border mx-auto text-success" role="status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col ms-5">
                    <div class="row">
                        <div class="col-12 ">
                            <h3 class="m-0 fw-bold">All Talents</h3>
                        </div>
                        <div class="col-12 mt-4">
                            <table class="table custom_table table-hovr table-borderless">
                                <thead>
                                    <tr class="header_bgColor">
                                        <th scope="col" class="text-capitalize  position-relative right-border">
                                            Button</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            <div
                                                class="image_div d-flex align-items-center justify-content-center overflow-hidden">
                                            </div>
                                        </th>
                                        <th scope="col" class="text-capitalize position-relative right-border">Name
                                        </th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Expertise</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Jurisdictions</th>
                                        <th scope="col" class="text-capitalize position-relative right-border">
                                            Industry</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!loader2">
                                    <tr class="vertical_align" *ngFor="let dynamicData of dynamicData;let i=index">
                                        <td><button class="border-0 btn_Work add_btn">Add</button>
                                        </td>
                                        <td>
                                            <div
                                                class="image_div d-flex align-items-center justify-content-center overflow-hidden">
                                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                                    alt="">
                                            </div>
                                        </td>
                                        <td>{{dynamicData?.Name}} </td>
                                        <td>{{dynamicData?.Expertise}}</td>
                                        <td>{{dynamicData?.Jurisdiction}}</td>
                                        <td>{{dynamicData?.Instustry}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="loader_div row" *ngIf="loader2">
                                <div class="spinner-border mx-auto text-success" role="status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>